.App {
  text-align: center;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
html,body {height: 100%;}
* {margin: 0; border: 0; padding: 0;}
#root {height: 100%;}

strong {margin: 0 5px;}
.topo {display: flex; height: 80px; background:#506c6a; color: #fff; font-size: 2.5vw; align-items: flex-end; padding-bottom: 10px;  box-sizing: border-box;}
.topo .center { width: 1100px; margin: 0 auto; text-align: left; box-sizing: border-box; padding: 0 50px;}
.topo .contPesquisa {float: right;}
.topo .contPesquisa input {width: 225px; height: 38px; border-radius: 3px; background-color: #d3dada; box-sizing: border-box; padding: 0 5px; display: inline-block; vertical-align: middle;}
.topo .contPesquisa .btPesquisar {display: inline-block; width: 38px; height: 37px; cursor: pointer; background-image: url('./images/bt_pesquisar1.png'); vertical-align: middle; margin:-2px 0 0 -38px;}

.contentImgs { display: grid; margin: 30px 5%; color: #415958;}
.contentImgs .topSearch{max-width: 1100px; padding: 0 50px; border-bottom: 1px solid #d3dada; display: table; width: 100%; margin: 0 auto 10px; display: none;}
.contentImgs .topSearch span{font-weight: bold; font-style: italic;}
.contentImgs .numResults{float: left;}
.contentImgs .txtResults{float: right;}
.contentImgs .img{ display: grid; grid-template-columns:40px 50px 1fr 102px 38px; height: 60px; background-color: #eff8f7;  align-items: center; padding: 0 50px; grid-gap: 10px; font-size: 12px;}
.contentImgs .img:nth-child(odd){background-color: #d6edeb; }
.contentImgs .img .contImg{width: 50px; height: 50px;}
.contentImgs .img .names{text-align: left; }
.contentImgs .img .names input{float: right; background-color: #bfd9d8; color: #415958; font-size: 14px; width: 65%; height: 30px; border-radius: 3px; padding: 0 5px;}
.contentImgs .img .btCopy{width: 102px; height: 38px; cursor: pointer; background-image: url('./images/bt_copiar1.png');}
.contentImgs .img .btShow{width: 38px; height: 38px; cursor: pointer; background-image: url('./images/bt_pesquisar.png');}
.contentImgs .img img{ max-width: 100%; max-height: 100%;}


.lightbox {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(65,89,88,.5); display: none;}
.boxImg { position: fixed; width: 80%; height: 80%; top: 0; left: 0; right: 0; bottom: 0; margin: auto;  justify-content: center; background-color: #fff; border-radius: 10px; border: 10px solid #ccc;}
.boxImg img{display: table; margin: 0 auto; height: calc(100% - 60px); margin-bottom: 5px;}
.boxImg input {float: left;  height: 40px; width: calc(100% - 120px); font-size: 15px; font-weight: bold; box-sizing: border-box; border: 2px solid #000; margin-left: 10px; padding: 0 5px;}
.boxImg .btCopy {float: left; width: 90px; height: 40px; box-sizing: border-box; border:2px solid #000; font-size: 12px; margin-left: 10px; font-weight: bold; cursor: pointer; line-height: 35px; }
.boxImg .btX {position: absolute; top: 5px; right: 5px; font-family: Arial; font-size: 25px; font-weight: bold; width: 30px; height: 30px; border-radius: 50%; background-color: #000; text-align: center; color: #fff;  cursor: pointer;}



.mark {background-color: #ff0;}

@media (max-width: 700px){
  .contentImgs .img .names {text-align: center;}
  .contentImgs .img .names span{display:block; }
  .contentImgs .img .names input{float: none;}
}